<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="connection_string" connectionString="server=127.0.0.1; user=sa; password=Test123; database=TestDB; pooling=true; Max Pool Size=100; Min Pool Size=8"/>
  </connectionStrings>
  <appSettings>
	  <!--Service Mode / Console Mode-->
    <add key="SRV_MODE" value="0" />
    <!-- Logger Definitions-->
    <add key="LOG_PATH" value="C:\CPLOG\PARSER\" />
    <add key="LOG_FILE" value="BatchProcesser" />
    <add key="LOG_INTERVAL" value="1000" />
    <add key="IS_LOG_ACTIVE" value="1" />
    <add key="LOG_SEVERITY" value="0" />
    <add key="LOG_MAX_QUEUE_COUNT" value="1000"/>
    <!-- Folder Definitions-->
    <add key="TXN_FILE_PATTERN" value="????????_???????????????_??.txt" />
    <add key="TXN_FILE_PATH" value="C:\BATCH_PROCESSING\PROVISION_FILE\CURRENTFILE\" />
    <add key="TXN_TEMP_PATH" value="C:\BATCH_PROCESSING\PROVISION_FILE\TEMPFILE\" />
    <add key="TXN_ARCHIVE_PATH" value="C:\BATCH_PROCESSING\PROVISION_FILE\ARCHIVEDFILE\" />
    <add key="TXN_ERROR_PATH" value="C:\BATCH_PROCESSING\PROVISION_FILE\ERRORFILE\" />
 
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>